.container-fluid .row .col-12 #hrTitle{
    border: 0.5px solid #333333;
    width: 45px;
}
.container-fluid .row .col-lg-4 .row .col-3 .hr-features{
    border: 0.4px solid #8569CF;
    width: 100%;
}

.container-fluid .row .col-lg-4 .row .col-6 .hr-friendly{
    border: 0.4px solid #8569CF;
    width: 100%;
}