.container-fluid #bg{
  width: 100%;
  clip-path: polygon(100% 0, 86% 0, 46% 40%, 76% 100%, 100% 64%);
  position: absolute;
}
.container-fluid{
  position:relative;
  /* width: 100%; */
}
/* .container-fluid{
  background-image: url("./Assets/bg.jpg");
  background-size: cover;
} */